@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror p {
	margin: 1rem 0;
	font-family: Poppins, sans-serif;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
	font-family: Anybody, sans-serif;
	margin: 1rem 0;
}

.ProseMirror {
	padding-bottom: 1rem;
}